- field = filter.fields[name]
- formtype = field.formtype.to_s
- name ||= field.name.to_s
- v = filter.v(name)


- if formtype=='text'
  %input(type="text" class="form-control" id="filter[#{name}]" name="filter[#{name}]" placeholder="#{f.placeholder}" value="#{v}" )

- elsif formtype=='hidden'
  %input(type="hidden" class="form-control" id="filter[#{name}]" name="filter[#{name}]" value="#{v}")


